.fondoLego{
    background-image: url(/media/fondos/lego.svg);
}
.fondoXiaomi{
    background-image: url(/media/fondos/xiomi.svg);
}
.fondoOster{
    background-image: url(/media/fondos/oster.svg);
}
.fondoNikon{
    background-image: url(/media/fondos/fondoNikon.svg);
}