
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: red;  
}

body{
    width: 100vw;
    height: 100vh;
    background: #EBEBEB;
    ;
}
header{    
    height: 100px;
    width: 1512px;        
    background:#FFF159;
}

main{
    width: 1512;
    height: 3586;
}

.fondo-blanco{
    background: #ffffff;
}

.fondoLego{
    background-image: url('media/fondos/fondoLego.png'); width: 218px; height: 95px;
}
.fondoXiaomi{
    background-image: url('media/fondos/fondoXiaomi.png'); width: 218px; height: 95px;
}
.fondoOster{
    background-image: url('media/fondos/fondoOster.png'); width: 218px; height: 95px;
}

.fondoNikon{
    background-image: url('media/fondos/fondoNikon.png'); width: 218px; height: 95px;
}



.fondo-blancoCentrarVertical{
    background: #ffffff;
    align-items: center;
}
.fondo-background{
    background: #EBEBEB;
}

.div-flex{
    display: flex;
    justify-content: center; 
    width: 1512px;      
}

.div-fleximagen{
    display: flex;
    justify-content: center; 
    width: 1512px;
    height: 340px;
}

.div-flexseccionuno{ 
    display: flex;    
    justify-content: center; 
    background: #ffffff;
    padding: 8px;
        
}

.div-seccionuno{    
    display: flex;
    justify-content:center; 
    width: 1512px;
    height: 90px;
    margin-top: 20px;    
}

.div-verticalseccionuno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.span-principalseccionuno{
    height: 20px;
    width: 200px;     
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 15px;      
    text-align: left;
    font-weight: bold;
    color: #000000;

}

.div-flexHeader{
    display: flex;
    justify-content: space-evenly; 
    width: 1512px; 
    height: 100px; 
}
.div-justifycolumn{
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
}
.div-justifyrow{
    display: flex;   
    flex-direction: row;     
    gap: 17.8px;  
}
.div-elementoabajo{  
    display: flex; 
    flex-direction: column;         
    justify-content: space-between;
    align-items: start; 
    padding: 10px;
}

.div-morado{
    background:#A90F90;
    
}
.input-text{     
    height: 39px;
    width: 598px;
    left: 1px;
    top: 8px;
    border-radius: 2px;   
}
.div-standarmedida{    
    width: 1184px ;
}

.color-boton{    
    background-color: #3483FA;
    border: none;
}

.fuenteheader{
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}



